/* Basic CSS for the navigation bar */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #0B0B0D;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.7;
  }
  
  nav ul {
    list-style-type: none; 
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
  }
  
  /* Basic CSS for the form elements */
  body {
    font-family: "Source Sans 3",sans-serif;
    background-image: url("./fnd_index.jpg");
    background-color: #F2F2F2;
    background-repeat: no-repeat;
    background-size: cover;
    /*width:100%;
    background-position: center center; */
  }  
  
  h1 {
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 40px;
  }
  .ttleMessage{    
    margin-bottom: 20px;
    color: #657332;
    text-align: left;
    font-size: 60px;
    margin-left: 40px;
    /*-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;*/
    border-radius: 50px;
  }


  input[type="text"],
  input[type="number"],
  select {
    width: 200px;
    padding: 5px;
    border-radius: 50px;
  }

  div {
    margin-bottom: 10px;
  }
    .container{
    display: grid;
    grid-template-areas:
        "display desteny";
    grid-template-columns: 1fr 2fr;
    padding: 80px;
    gap: 25px;
    }
    .container div {
    /*background-color: red;*/
    padding: 10px;
    opacity: 0.8;
    position: relative;
    /*top: 20px;*/
    /*left: 20px;*/
    }
    .container div.display {
    display: grid;
    grid-template-areas:
        "header header"
        "content content"
        "footer footer";
    grid-template-columns: 1fr 2fr;
    padding: 25px;
    }
    .container div.display div {
    background-color: #ffffff;
    padding: 10px;
    opacity: 0.8;
    position: relative;
    /*top: 20px;*/
    /*left: 20px;*/
    }
    .container div.display div.header {
    grid-area: header;
    text-align: center;
    width: 500px;
    height: 250px;
    }
    .container div.display div.content {
    grid-area: content;
    width: 500px;
    height: auto;;
    padding: 30px;
    }
    .container div.display div.footer {
    grid-area: footer;
    width: 500px;
    height: 65px;
    text-align: center;  
    }
    .container div.desteny {
    display: grid;
    grid-template-areas:
        "header header"
        "content content";
    grid-template-columns: 1fr 2fr;
    padding: 25px;
    }
    .container div.desteny div {
    background-color: #ffffff;
    padding: 10px;
    opacity: 0.8;
    position: relative;
    text-align: left;
    /*top: 20px;*/
    /*left: 20px;*/
    }
    .container div.desteny div.header {
    grid-area: header;
    text-align: center;
    width: auto;
    height: auto;
    }
    .container div.desteny div.content {
    grid-area: content;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 30px;
    }

  /* sobre nosotros */
  .container2 {
    display: grid;
    grid-template-areas:
        "header header"
        "content content"
        "us us"
        "footer footer";
    grid-template-columns: 1fr 2fr;
    padding: 5px;
    }
    .container2 div {
    background-color: #ffffff;
    padding: 10px;
    opacity: 0.8;
    position: relative;
    top: 80px;
    left: 20px;
    }
    .container2 div.header {
    grid-area: header;
    text-align: center;
    width: 500px;
    height: 150px;
    }
    .container2 div.content {
    grid-area: content;
    width: 500px;
    height: auto;
    padding-left: 30px;
    }
    .container2 div.us {
    grid-area: us;
    width: 500px;
    height: auto;
    padding-left: 30px;
    text-align: center;
    }
    .container2 div.footer {
    grid-area: footer;
    width: 500px;
    height: 65px;
    text-align: center;  
    }

  /* Contactanos */
    .container3 {
    display: grid;
    grid-template-areas:
        "header header"
        "formulario formulario";
    grid-template-columns: 1fr 2fr;
    padding: 5px;
    gap: 20px;
    margin-left: 35%;
    opacity: 80%;
    }
    .container3 div {
    background-color: #ffffff;
    padding: 10px;
    opacity: 0.8;
    position: relative;
    top: 80px;
    left: 20px;
    }
    .container3 div.header {
    grid-area: header;
    text-align: center;
    width: 500px;
    height: 150px;
    }
    .container3 div.formulario {
    grid-area: formulario;
    width: 500px;
    height: auto;
    padding: 15px;
    }
    
  /* Basic CSS for the report section */
  h2 {
    margin-top: 30px;
    color: #ffffff;
    opacity: 80;
  }

    /* Algunos estilos básicos para fines de demostración */
    #contactForm {
      max-width: 400px;
      max-height: auto;
      /*margin: 0 auto;*/
    }
    #contactForm input,
    #contactForm textarea {
      width: 100%;
      /*margin-bottom: 15px;*/
      padding: 8px;
      border-radius: 0px;
    }
    #contactForm button {
      padding: 10px 20px;
      background-color: #007bff;
      color: white;
      border: none;
      cursor: pointer;
    }
    #contactForm button:hover {
      background-color: #0056b3;
    }